In [143]:
import pandas as pd
import numpy as np

df_copy = pd.read_csv("titanic.csv")
df_copy = df_copy.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
df_copy.loc[df_copy.sample(frac=0.1).index, "Sex"] = np.nan

df_copy.isnull().sum()
# df_orig.info()

Survived      0
Pclass        0
Sex          89
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [144]:
cat_variables = df_copy[['Sex', 'Embarked']]
cat_dummies = pd.get_dummies(cat_variables, drop_first=True)
cat_dummies.head()

   Sex_male  Embarked_Q  Embarked_S
0      True       False        True
1     False       False       False
2     False       False        True
3     False       False        True
4      True       False        True

In [145]:
df_copy = df_copy.drop(['Sex', 'Embarked'], axis=1)
df_copy = pd.concat([df_copy, cat_dummies], axis=1)
df_copy.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,True,False,True
1,1,1,38.0,1,0,71.2833,False,False,False
2,1,3,26.0,0,0,7.9250,False,False,True
3,1,1,35.0,1,0,53.1000,False,False,True
4,0,3,35.0,0,0,8.0500,True,False,True

In [146]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_copy = pd.DataFrame(scaler.fit_transform(df_copy), columns=df_copy.columns)
df_copy

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0.0,1.0,0.271174,0.125,0.000000,0.014151,1.0,0.0,1.0
1,1.0,0.0,0.472229,0.125,0.000000,0.139136,0.0,0.0,0.0
2,1.0,1.0,0.321438,0.000,0.000000,0.015469,0.0,0.0,1.0
3,1.0,0.0,0.434531,0.125,0.000000,0.103644,0.0,0.0,1.0
4,0.0,1.0,0.434531,0.000,0.000000,0.015713,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
886,0.0,0.5,0.334004,0.000,0.000000,0.025374,1.0,0.0,1.0
887,1.0,0.0,0.233476,0.000,0.000000,0.058556,0.0,0.0,1.0
888,0.0,1.0,NaN,0.125,0.333333,0.045771,0.0,0.0,1.0
889,1.0,0.0,0.321438,0.000,0.000000,0.058556,1.0,0.0,0.0
890,0.0,1.0,0.396833,0.000,0.000000,0.015127,1.0,1.0,0.0

In [147]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df_copy = pd.DataFrame(imputer.fit_transform(df_copy), columns=df_copy.columns)

In [148]:
df_copy.isna().sum()

Survived      0
Pclass        0
Age           0
SibSp         0
Parch         0
Fare          0
Sex_male      0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [162]:
# transforming original dataset
df_orig = pd.read_csv("titanic.csv")
df_orig = df_orig.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
cat_variables = df_orig[['Sex', 'Embarked']]
cat_dummies = pd.get_dummies(cat_variables, drop_first=True)
df_orig = df_orig.drop(['Sex', 'Embarked'], axis=1)
df_orig = pd.concat([df_orig, cat_dummies], axis=1)
df_orig.head()
scaler = MinMaxScaler()
df_orig = pd.DataFrame(scaler.fit_transform(df_orig), columns=df_orig.columns)

df_orig

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0.0,1.0,0.271174,0.125,0.000000,0.014151,1.0,0.0,1.0
1,1.0,0.0,0.472229,0.125,0.000000,0.139136,0.0,0.0,0.0
2,1.0,1.0,0.321438,0.000,0.000000,0.015469,0.0,0.0,1.0
3,1.0,0.0,0.434531,0.125,0.000000,0.103644,0.0,0.0,1.0
4,0.0,1.0,0.434531,0.000,0.000000,0.015713,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
886,0.0,0.5,0.334004,0.000,0.000000,0.025374,1.0,0.0,1.0
887,1.0,0.0,0.233476,0.000,0.000000,0.058556,0.0,0.0,1.0
888,0.0,1.0,NaN,0.125,0.333333,0.045771,0.0,0.0,1.0
889,1.0,0.0,0.321438,0.000,0.000000,0.058556,1.0,0.0,0.0
890,0.0,1.0,0.396833,0.000,0.000000,0.015127,1.0,1.0,0.0

In [164]:
comp = df_orig['Sex_male'].sub(df_copy['Sex_male'])
comp

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
886    0.0
887    0.0
888    0.0
889    0.0
890    0.0
Name: Sex_male, Length: 891, dtype: float64

In [165]:
comp.abs().mean()

0.058361391694725026

In [166]:
n = comp.size
(comp**2).sum()/n

0.058361391694725026

In [167]:
comp.sum()

52.0