In [19]:
import pandas as pd
import numpy as np
sample_customer_data = pd.read_csv("customer-churn.csv")
# sample_customer_data.info()
# def introduce_nan(x,percentage):
#     n = int(len(x)*(percentage - x.isna().mean()))
#     idxs = np.random.choice(len(x), max(n,0), replace=False, p=x.notna()/x.notna().sum())
#     x.iloc[idxs] = np.nan
# sample_customer_data.apply(introduce_nan, percentage=.5)
sample_customer_data.loc[sample_customer_data.sample(frac=0.1).index, "Age"] = np.nan
sample_customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Call  Failure            3150 non-null   int64
 1   Complains                3150 non-null   int64
 2   Subscription  Length     3150 non-null   int64
 3   Charge  Amount           3150 non-null   int64
 4   Seconds of Use           3150 non-null   int64
 5   Frequency of use         3150 non-null   int64
 6   Frequency of SMS         3150 non-null   int64
 7   Distinct Called Numbers  3150 non-null   int64
 8   Age Group                3150 non-null   int64
 9   Tariff Plan              3150 non-null   int64
 10  Status                   3150 non-null   int64
 11  Age                      2835 non-null   float64
 12  Customer Value           3150 non-null   float64
 13  FN                       3150 non-null   float64
 14  FP                       3150 non-null   float64
 15  Churn                    3150 non-null   int64
dtypes: float64(4), int64(12)
memory usage: 393.9 KB

In [20]:
mean_value = sample_customer_data.mean()
mean_imputation = sample_customer_data.fillna(mean_value)
mean_imputation.head()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,FN,FP,Churn
0,8,0,38,0,4370,71,5,17,3,1,1,30.0,197.640,177.8760,69.7640,0
1,0,0,39,0,318,5,7,4,2,1,2,25.0,46.035,41.4315,60.0000,0
2,10,0,37,0,2453,60,359,24,3,1,1,30.0,1536.520,1382.8680,203.6520,0
3,10,0,38,0,4198,66,1,35,1,1,1,15.0,240.020,216.0180,74.0020,0
4,3,0,38,0,2393,58,2,33,1,1,1,15.0,145.805,131.2245,64.5805,0

In [21]:
actual = pd.read_csv("customer-churn.csv")
final = actual[actual.index.isin(mean_imputation.index)]
comp = final['Age'].sub(mean_imputation['Age'])
comp

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
3145    0.0
3146    0.0
3147    0.0
3148    0.0
3149    0.0
Name: Age, Length: 3150, dtype: float64

In [22]:
# ranges = sample_customer_data.max() - sample_customer_data.min()
# print((sample_customer_data.max() - sample_customer_data.min())[0])
comp.abs().mean()

0.6525578791187256

In [23]:
# normalized_diffs = diffs.div(ranges).abs()

# normalized_diffs.sum()
n = comp.size
(comp**2).sum()/n

9.072172609327223